/*
    Be cool and style.

*/

 @font-face {
  font-family: 'Press Start 2P';
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(../../games/flappy/assets/gamefont.woff) format('woff');
}

body{
   
}

#background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
    background-image: url('../img/footer_lodyas.png');
}

#redemptionbackground{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
    background-image: url('../img/papertexture.png');
}

#header{
    width: 100%;
    padding: 15px;
    /*background-color: white;
    -webkit-box-shadow: 0 1px 5px 0 #787878;
    box-shadow: 0 1px 5px 0 #787878;*/
}

#gamelist{
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
}

.iconcontainer{
    position: relative;
    display: inline-block;
    border: none
}
.iconcontainer:active{
   top: 1px;
}

.alert{
    color: red;
    font-size: 14px;    
}

.icon{
    width: 200px;
    height: 200px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: gray;
    -webkit-box-shadow: 0 1px 10px 0 #787878;
    box-shadow: 0 1px 10px 0 #787878;
}
.iconTitle{
    margin: 5px;
    font-family: 'Press Start 2P' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 15px; 
    color: white;
}

.textContainer{
    display: inline-block;
}
.title{
    display: inline-block;
    font-family: 'Press Start 2P' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 30px; 
    color: white;
}

.textContainer{
    margin: 10px;
}

.scoreText{
    display: block;
    font-family: 'Press Start 2P' !important;
    font-style: normal;
    font-size: 30px;
    color: #474747;
}

.scoreTextAlt{
    color: green; 
    font-size: 50px;
    display: block;
    font-family: 'Press Start 2P' !important;
    font-style: normal
}

.tab{
    padding: 0 40px; /* Or desired space*/
}

#flappybackground{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightblue;
    overflow: hidden;
}

#screenContainer{
    width: 500px;
    height: 500px;
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    padding: 5px;
    background-color: white;
     -webkit-box-shadow: 0 1px 5px 0 #787878;
    box-shadow: 0 1px 5px 0 #787878;
    z-index: 2;
}

#screen {
    margin: 0 auto;
    height:100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    
}

.btnContainer{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 500px;
    text-align: right;
}

.btnColor{
    color: white;
}

.butn{
    display: inline-block;
    width: 100px;
    height: 60px;
    background-color: white;
     -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
     -webkit-box-shadow: 0 1px 5px 0 #787878;
    box-shadow: 0 1px 5px 0 #787878;
    border: none;
     font-family: 'Press Start 2P' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 10px; 
    margin: 5px;
    vertical-align: top; 
}

.btnalt{
    display: block;
    width: 100px;
    height: 60px;
    background-color: lightblue;
     -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
     -webkit-box-shadow: 0 1px 5px 0 #787878;
    box-shadow: 0 1px 5px 0 #787878;
    border: none;
     font-family: 'Press Start 2P' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 10px; 
    margin: 5px;
    vertical-align: top;
    margin: 30px auto 30px auto;
}

.addScoreInput{
    border: none;
    width: 400px;
    height: 30px;
    background-color: #E6E6E6;
    display: block;
    margin: 30px auto 30px auto;
}

.backbtn{
    margin: 5px;
    font-family: 'Press Start 2P' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 10px; 
    color: #474747;
    position: fixed;
    top: 20px;
    left: 20px;
    border: none;
    width: 100px;
    height: 60px;
    background-color: white;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
     -webkit-box-shadow: 0 1px 5px 0 #787878;
    box-shadow: 0 1px 5px 0 #787878;
}

.mask{
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255, 0.8);
    display: none;
}

.arcademodal{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    padding: 10px;
    background: white;
     -webkit-box-shadow: 0 1px 5px 0 #787878;
    box-shadow: 0 1px 5px 0 #787878;
    z-index: 102;
}

.modalexit{
    position: absolute;
    top: 5px;
    right: 10px;
}

h3{
    font-family: 'Press Start 2P' !important;
    font-style: normal;
    font-weight: 400;
}

h5{
    font-family: 'Press Start 2P' !important;
    font-style: normal;
    font-weight: 400;
}

span{
    font-family: 'Press Start 2P' !important;
    font-style: normal;
    font-weight: 400;
}


.scoreContainer{
    height: 90vh;
    width: 700px;
    text-align: center;
    overflow-y: auto;
    padding: 10px;
}

.addScoreContainer{
    text-align: center;
    padding: 40px;
    width: auto;
    height: auto;
}

#clouds{
	
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 115s linear infinite;
	-moz-animation: moveclouds 115s linear infinite;
	-o-animation: moveclouds 115s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 225s linear infinite;
	-moz-animation: moveclouds 225s linear infinite;
	-o-animation: moveclouds 225s linear infinite;
}

.x3 {
	left: -250px; top: 250px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 120s linear infinite;
	-moz-animation: moveclouds 120s linear infinite;
	-o-animation: moveclouds 120s linear infinite;
}

.x4 {
	left: 470px; top: 100px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 218s linear infinite;
	-moz-animation: moveclouds 218s linear infinite;
	-o-animation: moveclouds 218s linear infinite;
}

.x5 {
	left: -550px; top: 150px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 120s linear infinite;
	-moz-animation: moveclouds 120s linear infinite;
	-o-animation: moveclouds 120s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {
            margin-left: 1000px;
            opacity: 0;
        }
        5%{
            opacity: 100;
        }
	100% {margin-left: -1000px;}
}


