<div class = "addScoreContainer" style = "width: 600px;">
    <form role="form">
            <p>Create an account to play cool games and get points for prizes!</p>
            <div id = "nfcRes">Scan your NFC tag now.</div>
            <div id = "createError" style="display: none;" class = "alert">User id already exists!</div>
            <div class="form-group text-left" >
              <label>User Name:</label>
              <input type="email" class="form-control keyboardinput" id="username" placeholder="Enter User Name">
            </div>
            <div class="form-group text-left">
              <label>Password:</label>
              <input type="password" class="form-control keyboardinput" id="password" placeholder="Enter Password">
            </div>
    </form>
    <button id = "createAccount" class = "btnalt  btnColor">Create Account</button>
</div> 
<div id = "exit" class = "modalexit"><img src = "resources/img/xicon.png" height="50"></div>
