<div class = "addScoreContainer">
    <div class="textContainer">
        <div class ="text-left">
            <div class="scoreText">Your current high score is:</div>       
        </div>
        <div id = "currentHighScore" class ="scoreTextAlt text-center" ></div>
    </div>
    <form role="form">
        <p>Log in or scan NFC tag to save your score and get points!</p>
        <div id = "loginError" style="display: none;" class = "alert">Incorrect login, try again.</div>
        <div class="form-group text-left" >
          <label>User Name</label>
          <input type="email" class="form-control keyboardinput" id="username" placeholder="Enter User Name">
        </div>
        <div class="form-group text-left">
          <label>Password</label>
          <input type="password" class="form-control keyboardinput" id="password" placeholder=" Enter Password">
        </div>
    </form>
    <button id = "saveScore" class = "btnalt  btnColor">Save Score!</button>
</div>
<div id = "exit" class = "modalexit"><img src = "resources/img/xicon.png" height="50"></div>