<style>
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(games/flappy/assets/gamefont.woff) format('woff');
}
</style>
<div id ="flappybackground">
    <div id = "screenContainer">
        <div id = "screen">

        </div>
    </div>
    <div id="clouds">
	<div class="cloud x1"></div>
	<!-- Time for multiple clouds to dance around -->
	<div class="cloud x2"></div>
	<div class="cloud x3"></div>
	<div class="cloud x4"></div>
	<div class="cloud x5"></div>
    </div>
</div>
<div class = "btnContainer">
    <button id ="savescore" class = "butn">Save High Score!</button>
    <button id = "tweetScore" class = "butn"><img src="resources/img/twitter.png" height="40"></button>
    <button id ="leaderboard" class = "butn"><img src = "resources/img/trophy.png" height = "40"></button>
</div>
<button id = "back" class = "backbtn">Back</button>





 
       