<div id = "background">
    <div id ="header">
        <div class="textContainer">
            <div class = "title">Choose a Game to Play:</div><br>
        </div>
    </div>
    <div>
        <div id = "gamelist">
            <div id = "flappybird" class="iconcontainer animated bounceIn">
                <img src="resources/img/flappyicon.jpg" class = "icon">
                <div class="iconTitle">Flappy Bird</div>
            </div>
        </div>    
    </div>
</div>
<div class ="btnContainer">
    <button id ="redeem" type="button" class="btn btn-default btn-lg">
        <img src="resources/img/coin.png" height = "40">Prizes
    </button>
    <button id ="account" type="button" class="btn btn-default btn-lg">
        <img src="resources/img/add_user.png" height = "40">Account
    </button>
    
</div>
<audio loop autoplay>
  <source src="resources/aud/dr-loco.mp3" type="audio/mp3"> 
    Your browser does not support the audio element.
</audio> 
    
