<div class = "addScoreContainer" style="width:600px;">
    <form role="form">
        <p>Log in to retrieve your points and win prizes!</p>
        <div id = "loginError" style="display: none;" class = "alert">Incorrect login, try again.</div>
        <div class="form-group text-left" >
          <label>User Name</label>
          <input type="email" class="form-control keyboardinput" id="username" placeholder="Enter User Name">
        </div>
        <div class="form-group text-left">
          <label>Password</label>
          <input type="password" class="form-control keyboardinput" id="password" placeholder=" Enter Password">
        </div>
    </form>
    <button id = "loginPoints" class = "btnalt  btnColor">Get your points!</button>
</div>
<div id = "exit" class = "modalexit"><img src = "resources/img/xicon.png" height="50"></div>
