<div id ="redemptionbackground">
    <div id ="header">
        <div class="textContainer">
            <div class = "title" style = "color: #FFFF99;">Choose a prize!:</div><br>
        </div>
    </div>
    <div>
        <div id = "gamelist">
            <div id = "teddy" class="iconcontainer animated bounceIn" >
                <img src="resources/img/teddy.png" class = "icon" style = "background-color: #FFFF99">
                <div class="iconTitle" style = "color: gray">3 points</div>
            </div>
        </div>    
    </div>
</div>
<div id = "btns" class ="btnContainer">
    <button id ="home" type="button" class="btn btn-default btn-lg">
        <img src="resources/img/home.png" height = "40">Home
    </button>  
    <button id ="getPoints" type="button" class="btn btn-default btn-lg">
        <img src="resources/img/add_user.png" height = "40">Login
    </button> 
    <div id = "futurePoints">
        
    </div>
</div>
<audio loop autoplay>
  <source src="resources/aud/dr-loco.mp3" type="audio/mp3"> 
    Your browser does not support the audio element.
</audio> 
