<div class = "scoreContainer" style = "margin-top: 25px;">
    <div id = "list" class = "container-fluid">
        <div class = "row ">
            <div class="col-md-4 text-left"><h3>Score:</h3></div>
            <div class="col-md-4 text-left"><h3>Name:</h3></div>
            <div class="col-md-4 text-left"><h3>Date:</h3></div>
        </div>
    </div>
</div>
<div id = "exit" class = "modalexit"><img src = "resources/img/xicon.png" height="50"></div>
