<div class = "addScoreContainer">
    <div class ="textContainer">
        <div class="text-left">
            <div class="scoreText">Your current high score is:</div>        
        </div>
        <div id = "currentHighScore" class ="scoreTextAlt text-center"></div>
    </div>
    <form role="form">
        <p>login in to Twitter to share your success!</p>
        <div id = "loginError" style = "display: none;"><p>Sorry incorrect, try again.</p></div>
        <div id = "loginIndicator" style = "display: none;"><p>loading...</p></div>
        <div class="form-group text-left" >
          <label>User Name</label>
          <input type="email" class="keyboardinput form-control " id="username" placeholder="Enter User Name">
        </div>
        <div class="form-group text-left">
          <label>Password</label>
          <input type="password" class="keyboardinput form-control " id="password" placeholder="Enter Password">
        </div>
        
    </form>
    <button id = "makeTweet" class = "btnalt btnColor btnColor">Tweet your score!</button>
</div>
<div id = "exit" class = "modalexit"><img src = "resources/img/xicon.png" height="50"></div>